/* DEFAULTS
----------------------------------------------------------*/

.button {
    display:block;
    text-align:center;
}

body
{
    background: #FFFFFF;
    font-size: .80em;
    font-family: Arial, 'Helvetica Neue' , 'Lucida Grande' , 'Segoe UI' , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    text-align: left;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 1px;
    line-height: 1.6em;
    text-align: justify;
}

/*input
{
    border: 1px solid #ccc;
    color: #333333;
}*/



img
{
    border-style: 0;
    border-color: 0;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

/*TABLES
----------------------------------------------------------*/
td
{
    vertical-align: top;
    text-align: center;
    font-weight: 700;
}

.tabla100
{
    border-style: solid;
    padding: 2px;
    margin: 0px;
    border-width: 0px;
    min-width: 500px;
}
.btabla
{
    border-style: solid;
    padding: 2px;
    margin: 0px;
    border-width: 0px;
}
.cTable
{
    border-style: solid;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

hr
{
     border: 1px solid #8BA0BC
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 5px auto 0px auto;
    border: 1px solid #999999;
    display: table; 
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #666666;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    margin: auto;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/


div.hideSkiplink
{
    /*background-color:#3a4f63;*/
    background-color: #5C5C5C;
    width: 100%;
    height: Auto;
    background-image: url('../Imagenes/MenuBG.png');
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #5C5C5C;
    border: 1px #515151 solid;
    color: #D9D9D9;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #484848;
    color: #D9D9D9;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #484848;
    color: #D9D9D9;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

/*input:focus 
{ 
     background-color : #C1CFEB;
}*/
div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #666666;
}

.loginDisplay a:link
{
    color: #666666;
}

.loginDisplay a:visited
{
    color: #666666;
}

.loginDisplay a:hover
{
    color: #333333;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.alignright
{
    text-align: center;
}

.Panel
{
    border: 1px solid #8BA0BC;
    padding: 5px;
    
}

.PanelCorrecciones
{
    margin: 5px;
    border: 1px solid #A5CAFD;
    padding: 10px;
    
    text-align: center;
    display: block;
    float: left;
}

.PanelGris
{
    border: 1px solid #808080;
    padding: 5px;
    font-size: xx-small;
    color: #003366;
}
.RegistroMultiple
{
    display: block;
    float: right;
    text-align: center;
    width: auto;
}

.errorHighlightEntry
{
    font-size: 1.2em;
    color: Red;
    background-color: #F6EBB4;
}

.FocusText 
{ 
     background-color : #C1CFEB;
  }
  
  .FlotanteRight
{
    display: block;
    float: right;
    text-align: right;
    width: auto;
}

.Adv
{
    background-image: url('../Imagenes/Info16.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.Etiquetas
{
    font-weight: bold;
    background-color: #6699FF;
}

.Centrado
{
    text-align:center;
}

.Derecha
{
    text-align:right;
}

.Izquierda
{
    text-align:left; 
    
}